*{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    
    color:black;
}


 


main {
    text-align: center;
    background-color: white;
    background-size: 4000px;
    background-repeat: no-repeat;
    background-position: center;
    color: blue;
    
    
    
    
   
}

img {
    max-width: 100%;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    width: 2200px;
    height: 900px;
    

}
h4{
    font-size: 100px;
    color: black;
    background-color: blue;
}
footer{
    text-align: center;
    color: black;
    background-color: aqua;
}
h5 {
    font-size: large;
    color: red;
}
p {
    color: red;
}